includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - src/
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        # Walker methods use non-strict parameter types inherited from WP core.
        - '#Parameter \#1 \$item of method WPStarterTheme\\Walkers\\MegaMenuWalker::start_el\(\) should be compatible#'
